<div class="my-navbar">
  <div style="position:relative">
    <%= link_to "HOSTIQUE", root_path, class: "title", style:"padding-right:0px" %>
    <div class="title-period-square"></div>
  </div>
  <%= form_with url: root_path, method: :get, class: "d-flex searchbar" do  %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control, search-input",
            placeholder: "search cities..."
            %>
            <%= button_tag type: "submit", class:"search-icon" do  %>
              <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <% end %>
  <% end %>
  <% if user_signed_in? %>
            <div class="dropdown" data-controller="navbar">
              <button class="dropbtn">
                <div class ="menu-lines" data-action="click->navbar#drop">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </button>
            <div id="myDropdown" class="dropdown-content" data-navbar-target="dropdown">
                <%= link_to "Home", root_path, class: "nav-links"%>
                <%= link_to "Profile", profile_path, class: "nav-links"%>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-links" %>
              </div>
            </div>


  <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link  nav-links login" %>
          </li>
  <% end %>
</div>
<div class="nav-sep-container"></div>
