<div class='main'>
  <div class='user-info'>
    <h1><%= current_user %></h1>
  </div>

  <div class='add-listing-form'>
    <%= simple_form_for(@hostel) do |f| %>
      <%= f.input :name %>
      <%= f.input :city %>
      <%= f.input :address %>
      <%= f.input :description, as: :text %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class='user-listings'>
    <ul>
      <% @hostels.each do |hostel| %>
        <li>
          <%= link_to "#{hostel.name}", hostel_path(hostel) %>
          <%= hostel.city %>
          <%= hostel.address %>
          <%= hostel.description %>
          <%= link_to 'remove listing', hostel, data: {turbo_method: :delete} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
