<div class='main'>
  <div class='user-info'>
    <h1><%= current_user.first_name %></h1>
  </div>

  <div class='add-listing-form'>
    <div id='form' class='form'>
      <div id='exit-form'>
        <p>X</p>
      </div>
      <%= simple_form_for(@hostel) do |f| %>
        <%= f.input :name, class: 'input' %>
        <%= f.input :city, class: 'input' %>
        <%# <%= f.input :address, class: 'input' %>

        <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "adrress"}, class:"d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
             address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :description, as: :text, class: 'input' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit 'add listing', class: 'submit-btn' %>
      <% end %>
    </div>
  </div>

  <div class='user-listings'>
    <div class='listings'>
      <h3>my listings</h3>
      <a class='button' id='add-list-btn'>add a listing</a>
    </div>
    <ul>
      <% @hostels.each do |hostel| %>
        <li>
          <div class='hostel-info'>
            <%= link_to "#{hostel.name}", hostel_path(hostel), class: 'hostel-name' %>
            <p><%= hostel.city %></p>
          </div>
          <div class='buttons'>
            <div id='edit-btn' class='button'>edit
              <div class='edit-list-form'>
                <%= simple_form_for(@hostel) do |f| %>
                  <%= f.input :name %>
                  <%= f.input :city %>
                  <%= f.input :address %>
                  <%= f.input :description, as: :text %>
                  <%= f.submit 'edit listing', class: 'submit-btn' %>
                <% end %>
              </div>
            </div>
            <%= link_to 'remove', hostel_path(hostel), data: {turbo_method: :delete}, class: 'button' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='reservations'>
    <h3>my reservations</h3>
    <ul>
      <% current_user.reservations.each do |reservation| %>
        <% if reservation.end_date > Date.today %>
          <% @hostel = reservation.room.hostel %>
          <li>
            <div class='hostel-info'>
              <%= link_to "#{@hostel.name}", hostel_path(@hostel), class: 'hostel-name' %>
              <p><%= @hostel.city %></p>
            </div>
            <div class='res-dates'>
              <% nights = (reservation.end_date - reservation.start_date).to_s.split('/')[0] %>
              <p>$<%= (reservation.room.price_per_night * nights.to_i) * reservation.amount_of_beds %> to pay on arrival</p>
              <p><%= reservation.start_date.to_formatted_s(:long) %></p>
              <p>to <%= reservation.end_date.to_formatted_s(:long) %></p>
            </div>
            <div class='buttons'>
              <div id='edit-btn' class='button'>edit
                <div class='edit-res-form'>
                  <%= simple_form_for(reservation) do |f| %>
                    <%= f.input :start_date, as: :date, html5: true %>
                    <%= f.input :end_date, as: :date, html5: true %>
                    <%= f.input :amount_of_beds, collection: 1..reservation.room.number_of_beds %>
                    <%= f.submit "edit reservation", class: 'submit-btn' %>
                  <% end %>
                </div>
              </div>
              <%= link_to 'cancel', reservation_path(reservation), data: {turbo_method: :delete}, class: 'button' %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h3>my past reservations</h3>
    <ul>
      <% current_user.reservations.each do |reservation| %>
        <% if reservation.end_date < Date.today %>
          <% @hostel = reservation.room.hostel %>
          <li>
            <div class='hostel-info'>
              <%= link_to "#{@hostel.name}", hostel_path(@hostel), class: 'hostel-name' %>
              <p><%= @hostel.city %></p>
            </div>
            <div class='res-dates'>
              <p><%= reservation.start_date.to_formatted_s(:long) %></p>
              <p>to <%= reservation.end_date.to_formatted_s(:long) %></p>
            </div>
            <div class='buttons'>
              <div id='review-btn' class='button'>leave a review
                <div class="add-review-form">
                  <%= simple_form_for([@hostel, @review]) do |f| %>
                      <%= f.input :content, as: :text %>
                      <%= f.input :rating, collection: (1..5).to_a %>
                      <%= f.submit 'add review', class: 'submit-btn' %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<script>
  const addBtn = document.getElementById('add-list-btn')
  const closeBtn = document.getElementById('exit-form')

  addBtn.addEventListener('click', (event) => {
    document.getElementById('form').style.display = "block";
  })

  closeBtn.addEventListener('click', (event) => {
    document.getElementById('form').style.display = "none";
  })
</script>
