<div class='main'>
  <div class='user-info'>
    <h1><%= current_user %></h1>
  </div>

  <div class='add-listing-form'>
    <div class='form'>
      <%= simple_form_for(@hostel) do |f| %>
        <%= f.input :name %>
        <%= f.input :city %>
        <%= f.input :address %>
        <%= f.input :description, as: :text %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

  <div class='user-listings'>
    <ul>
      <% @hostels.each do |hostel| %>
        <li>
          <%= link_to "#{hostel.name}", hostel_path(hostel) %>
          <%= hostel.city %>
          <%= hostel.address %>
          <%= hostel.description %>
          <%= link_to 'update listing', edit_hostel_path(hostel.id) %>
          <%= link_to 'remove listing', hostel_path(hostel), data: {turbo_method: :delete} %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='reservations'>
    <ul>
      <% current_user.reservations.each do |reservation| %>
        <li>
          <%= reservation.start_date %>
          <%= reservation.end_date %>
          <%= reservation.room.hostel.name %>
          <%= reservation.room.hostel.city %>
          <%= link_to 'cancel booking', reservation_path(reservation), data: {turbo_method: :delete}   %>

          <div class="edit-res-container">
            edit
            <div class="edit-res-form">
            <%= simple_form_for(reservation) do |f| %>
                <%= f.input :start_date, as: :date %>
                <%= f.input :end_date, as: :date %>
                 <%= f.submit "Edit Reservation" %>
            <% end %>
            </div>
          </div>

        </li>
      <% end %>
    </ul>
  </div>
</div>


<style>
.edit-res-container{
  background:red;
}

.edit-res-form{
   overflow: hidden;
    height: 0;
    background: white;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.edit-res-container:hover .edit-res-form{
  height: 300px;
  overflow-y:auto;
  display: block;
}

</style>
