<div class='main'>
  <div class='user-info'>
    <h1><%= current_user.first_name %></h1>
  </div>

  <div class='add-listing-form'>
    <div class='form'>
      <%= simple_form_for(@hostel) do |f| %>
        <%= f.input :name, class: 'input' %>
        <%= f.input :city, class: 'input' %>
        <%# <%= f.input :address, class: 'input' %>

        <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "adrress"}, class:"d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
             address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :description, as: :text, class: 'input' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit 'add listing', class: 'submit-btn' %>
      <% end %>
    </div>
  </div>

  <div class='user-listings'>
    <h3>my listings</h3>
    <ul>
      <% @hostels.each do |hostel| %>
        <li>
          <div class='listed-hostels-info'>
            <%= link_to "#{hostel.name}", hostel_path(hostel), class: 'hostel-name' %>
            <p><%= hostel.city %></p>
          </div>
          <div class='buttons'>
            <%= link_to 'update', edit_hostel_path(hostel), class: 'button' %>
            <%= link_to 'remove', hostel_path(hostel), data: {turbo_method: :delete}, class: 'button' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='reservations'>
    <h3>my future bookings</h3>
    <ul>
      <% current_user.reservations.each do |reservation| %>
        <% @hostel = reservation.room.hostel %>
        <li>
          <div class='booking-info'>
            <%= link_to "#{@hostel.name}", hostel_path(@hostel), class: 'hostel-name' %>
            <%= @hostel.city %>
            <%= reservation.start_date %>
            <%= reservation.end_date %>
          </div>
          <div class='buttons'>
            <%= link_to 'cancel', reservation_path(reservation), data: {turbo_method: :delete}, class: 'button' %>
          </div>
          <div class="edit-res-container">
            edit
            <div class="edit-res-form">
            <%= simple_form_for(reservation) do |f| %>
                <%= f.input :start_date, as: :date %>
                <%= f.input :end_date, as: :date %>
                 <%= f.submit "Edit Reservation" %>
            <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<style>

.mapboxgl-ctrl-geocoder--input{
  background:transparent;
  border:none;
  content:"Search City";
  /* width:100%; */
}

.mapboxgl-ctrl-geocoder--input:focus{
  border:none;
  outline:none;
}

.mapboxgl-ctrl-geocoder {
  padding-top:10px;
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: #F4F4F4;
}
.auto-complete{
  background:red;
}
  .edit-res-container{
    background:red;
  }

  .edit-res-form{
    overflow: hidden;
    height: 0;
     background: white;
      -webkit-transition: all .8s ease;
      -moz-transition: all .8s ease;
      -ms-transition: all .8s ease;
      -o-transition: all .8s ease;
      transition: all .8s ease;
  }

  .edit-res-container:hover .edit-res-form{
    height: 300px;
    overflow-y:auto;
    display: block;
  }

  .main {
    background-color: #2C2520;
    height: 100vh;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  /* BUTTONS */

  li .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li .button {
    background-color: #ED734B;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 50%;
    text-align: center;
  }

  li .button:hover {
    background: linear-gradient(to right, #ED734B, #9BDB8E);
    color: black;
  }

  li .hostel-name {
    font-size: 25px;
    margin: 10px;
  }

  .user-info h1 {
    color: #FFFFFF;
  }

  .form {
    padding: 20px;
    width: 25%;
    background-color: #E6CFAD;
    position: absolute;
    top: 200px;
    right: 100px;
    display: block;
    z-index: 2;
  }

  .submit-btn {
    border: 1px solid #2C2520;
    background-color: #ED734B;
    padding: 5px;
    width: 100%;
  }
  h3 {
    color: #FFFFFF;
    margin: 20px;
  }

  .user-listings ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
  }

  .user-listings li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6CFAD;
    margin: 10px;
    color-scheme: black;
    width: 200px;
    height: 200px;
    justify-content: space-between;
  }

  .user-listings li .listed-hostels-info {
    display: flex;
    flex-direction: column;
  }

  .user-listings li .listed-hostels-info p {
      margin: 10px;
      opacity: 0.7;
  }

  .reservations { height: 200px }

  .reservations ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
  }

  .reservations li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E6CFAD;
    width: 200px;
    height: 200px;
    margin: 10px;
  }
</style>
