
<div class="main-container" >
  <div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path @hostel.photos.first.key, crop: :fill %>')">

    <div class="amenities-container">
      <% if policy(@hostel).create? %>
        <div class="amenity-text"> add amenity
          <div class="amenity-form">
            <%= simple_form_for([@hostel, @amenity_tag]) do |f| %>
                <%= f.input :amenity, collection: Amenity.all, input_html: { multiple: true, id: "select-tags",
                data: {controller: "tom_select", tom_select_options_value: {tags: true}}},
                include_hidden: false%>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% @hostel.amenities.each do |amenity| %>
        <p><%= amenity.name %></p>
        <% end %>
    </div>
    <div class="name-address-container">
      <h2><%= @hostel.name %></h2>
      <p style="color:white"><%= @hostel.description %></p>

    </div>
  </div>
  <a href="#rooms" style="color:black">
    <div class="book-container">
      <h1 style="margin:0 auto; color:white; font-weight:bolder">BOOK NOW</h1>
    </div>
  </a>
</div>


<div class="rooms-map-container " id="rooms">
  <div id='hostelmap' style="width: 50%; height: 100%;"
    data-controller="map"
    data-map-marker-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="hotel-rooms-container">
      <% if policy(@hostel).create? %>
        <div class="add-room-btn">Add Room
          <div class="add-room-form">
            <%= simple_form_for([@hostel, @room]) do |f| %>
              <%= f.input :number_of_beds, as: :integer %>
              <%= f.input :price_per_night, as: :integer %>
              <%= f.input :name %>
              <%= f.input :description, as: :text %>
              <%= f.input :photo, as: :file %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% @hostel.rooms.each do |room| %>
          <div class="room-container">
            <div class="room-image-container">
                 <% if @hostel.photos.attached? %>
                    <%= cl_image_tag @hostel.photos.first.key, class:"home-photo",crop: :fill %>
                <% end %>
            </div>
            <div class="room-info-container">
              <a href="#<%=room.id%>" style="color:white"> <h2><%= room.name %></h2></a>
              <div class="room-details-container">
                <p style="color:white" ><%= room.number_of_beds %> beds</p> <br>
                <p style="color:white"><%= room.price_per_night %> USD</p>
              </div>
            </div>

            <div>
              <%= link_to room_path(room), data: {turbo_method: :delete} if policy(room.hostel).destroy?  do %>
                <i class="fa-light fa-trash"></i>
              <% end %>

              <% if policy(room.hostel).edit? %>
                <div class="edit-container">
                  edit
                  <div class="edit-form">
                    <%= simple_form_for(room) do |f| %>
                      <%= f.input :number_of_beds, as: :integer %>
                      <%= f.input :price_per_night, as: :integer %>
                      <%= f.input :name, as: :string %>
                      <%= f.input :description, as: :string %>
                      <%= f.submit "Update" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<% @hostel.rooms.each do |room| %>
  <% @reservation = Reservation.new %>
  <div id="<%=room.id%>" class="room">
      <a href="#top" class="top-container">TOP
      </a>
      <div class="room-page-info-container">
        <h2><%= room.name %> by <%= @hostel.name %></h2>
        <p><%= room.number_of_beds %> beds</p>
        <div class="separatior-line"></div>
        <p class="description"><%= room.description %></p>
        <div class="separatior-line"></div>

        <div class="reviews-container">
          <div class="review-btns-container" style="display:flex">
            <h2>Reviews</h2>
          </div>

          <% @hostel.reviews.each do |review| %>
            <div class = "review-container">
              <div class="stars-container">
                <% count = review.rating %>
                <% i = 0  %>
                <% while i < count %>
                <p class ="review-star">⭐️</p>
                <% i += 1 %>
                <% end %>
              </div>
              <p class ="review-text"><%= review.content %></p>
              <p>-<%= review.user.first_name %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="price-container">
        <h2><%= room.price_per_night %> USD</h2>
        <h5>per night</h5>
      </div>
      <div class="booking-container">
        <h2>Book your stay now!</h2>
        <%= simple_form_for([room, @reservation]) do |f| %>
          <%= f.input :start_date, as: :date, order: %i[day month year], html5: true, id: 'start-date'%>
          <%= f.input :end_date, as: :date, order: %i[day month year], html5: true, id: 'end-date' %>
          <%= f.input :amount_of_beds, collection: 1..room.number_of_beds %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
<% end %>


<style>


.add-room-btn{
  color:white;
  font-size:15px;
  padding-left:30px;
  font-weight:bold;

}

.amenity-text{
  padding-bottom:10px;
  font-size:15px;
  font-weight:bold;
}

.amenity-text:hover .amenity-form{
   height: 100%;
   display: block;
}


.add-review-text{
  font-size:25px;
  color:rgb(237, 115, 75);
}
.add-review-text:hover .add-review-form{
  height: 100%;
   display: block;
}

.name-address-container{
  padding:30px;
  position:absolute;
  background:rgba(230, 207, 173, .4);
  width:54%;
  /* height:187px; */
  min-height: 200px;
overflow: hidden;
  top: 90%;
  right: 0%;
}


.book-container{
  display:flex;
  padding:30px;
  position:absolute;
  width:25%;
  height:100px;
  top: 77%;
  right: 18%;
  /* /* background:rgb(237, 115, 75); */
  background:rgb(255 102 0);
}

.book-container:hover{
  border:4px solid rgb(237, 115, 75);
  background:none;

}


.name-address-container h2{
  color:white;
  letter-spacing: 2px;
    font-weight: bold;
}


.rooms-map-container{
  width:100vw;
  height:100vh;
  margin-top:80px;
  background:rgb(44, 37, 32);
  border:4px solid rgb(255 102 0);
}

.add-room-btn{

}

.add-room-btn:hover .add-room-form{
  height: 100%;
  display: block;
}

.main-container{
  padding:5vh 0;
  height:90vh;
  width:100vw;
  background:rgb(44, 37, 32);
}
.banner{
  width:90%;
  height:350px;
  background:white;
  margin: 0 auto;
  position:relative;
}

.hostel-name-continer{
  position: absolute;
  top:10%;
  left:3%;
}




.hotel-rooms-container{
  margin-top:80px;
  background:rgb(44, 37, 32);
  width:50%;
  height:100%;
  position:absolute;
  top: 100%;
  overflow-y:auto;
  left:50%;
  scroll-padding: 20px;
  border-left:3px solid rgb(255 102 0);

}



.room-container{
  padding:20px;
  display: flex;
  justify-content:flex-start;
  width:90%;
  margin:40px auto;
  margin-top:0;
  border: 1px solid rgb(237, 115, 75);
  box-shadow: 0px 10px 15px -3px rgba(237, 115, 75,.5);
  transition: all 1s ease-in;
}

.room-container:hover{
  background:rgb(255 102 0);
}

.room-image-container{
  width:23%;
  height:118px;
  background:grey;
}

.room-details-container{
  display:flex;
  width: 142px;
  justify-content: space-between;
}

.room-details-container p{
    font-size:18px;

}



.room-info-container{
  margin-left:33px;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.room-info-container a{
  text-decoration:none;
  color:rgb(44, 37, 32);

}

.top-container{
  margin-bottom:20px;
  position:absolute;
  right: 29.7%;
  top: 11%;
  text-decoration:none;
  font-size:25px;
  color:rgb(237, 115, 75);
  font-weight: bolder;

}


.room{
  padding:80px;
  background:#ECE9E2;
  height:100vh;
  width:100vw;
  position:relative;
}

.room-page-info-container{
  width: 65%;
  /* border:1px solid black; */
}



.separatior-line{
  width:90%;
  height:2px;
  background:rgb(44, 37, 32);
  margin:30px 0;
}



.description{
  width:80%;
}

.booking-container{
  padding:20px;
  position: absolute;
  width:25%;
  height:380px;
  background:#FF6600 ;
  color:white;
  top: 40%;
  left: 67%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}


.price-container{
  padding:20px;
  position: absolute;
  width:25%;
  height:100px;
  background:white;
  border: 2px solid black;
  color:white;
  top: 20%;
  left: 67%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.price-container h2, h5{
  color:black;
}


.stars-container{
  display:flex;
}

.review-container{
  margin-top:10px;
  width:90%;
  border-bottom:1px solid #d2d2d2;
}

.review-btns-container{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width:90%;
}



.amenities-container{
  position:absolute;
  /* border:4px solid rgb(237, 115, 75); */
  background:#f5deb321;
  width:20%;
  height:475px;
  top: 25%;
  padding: 30px;
  min-height: 0px;
  overflow: hidden;
  color:white;
  transition: all .8s ease;
  overflow-y:auto;


}

.amenities-container:hover {
    background:wheat;
}

.amenities-container:hover p{
    color:black;
}


.amenities-container p, .amenity-text{
  /* color: rgb(237, 115, 75); */
  color:white;
  font-size:18px;
  font-weight:bold;
  letter-spacing:1px;
}



.edit-form, .add-room-form, .amenity-form, .add-review-form{
    overflow: hidden;
    height: 0;
    /* background: white; */
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.edit-container:hover .edit-form{
  height: 300px;
  overflow-y:auto;
  display: block;
}




</style>
