<div class='main'>
  <%= @hostel.name %>

  <ul>
    <% @hostel.rooms.each do |room| %>
      <li>
        <% @reservation = Reservation.new %>
        <%= room.number_of_beds %>
        <%= room.price_per_night %>
        <%= room.name %>
        <%= room.description %>
        <%= link_to 'remove', room_path(room), data: {turbo_method: :delete} %>
        <%= simple_form_for([room, @reservation]) do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.submit %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= simple_form_for([@hostel, @room]) do |f| %>
    <%= f.input :number_of_beds, as: :integer %>
    <%= f.input :price_per_night, as: :integer %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.submit %>
  <% end %>

  <ul>
    <% @hostel.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>

  <%= simple_form_for([@hostel, @review]) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.input :rating, collection: (1..5).to_a %>
    <%= f.submit %>
  <% end %>

  <ul>
    <% @hostel.amenities.each do |amenity| %>
      <li>
        <%= amenity.name %>
        <%= link_to 'remove', amenity_tag_path(amenity), data: {turbo_method: :delete} %>
      </li>
    <% end %>
  </ul>

  <%= simple_form_for([@hostel, @amenity_tag]) do |f| %>
    <%= f.association :amenity %>
    <%= f.submit %>
  <% end %>
</div>
